<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  {% if page.tags %}
  <meta name="keywords" content="{{ page.tags | join: ', ' }}">
  {% endif %}
  <!-- Enable responsiveness on mobile devices-->
  <meta itemprop="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  {% if site.owner.twitter %}<!-- Twitter Cards -->
    {% if page.image.feature %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ site.url }}/images/posts/{{ page.image.feature }}">
    {% else %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{% if page.image.thumb %}{{ site.url }}/images/posts/{{ page.image.thumb }}{% else %}{{ site.url }}/images/{{ site.logo }}{% endif %}">
    {% endif %}
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:creator" content="@{{ site.owner.twitter }}">
  {% endif %}
  <!-- Open Graph -->
  <meta itemprop="og:locale" property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:image" content="{% if page.image.thumb %}{{ site.url }}/images/posts/{{ page.image.thumb }}{% else %}{{ site.url }}/images/{{ site.logo }}{% endif %}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.title }}">

  {% if site.google_verify %}
  <meta name="google-site-verification" content="{{ site.google_verify }}">
  {% endif %}
  {% if site.bing_verify %}
  <meta name="msvalidate.01" content="{{ site.bing_verify }}">
  {% endif %}
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  <link rel="stylesheet" href="{{ '/assets/css/grgrt.css' | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <!-- Icons -->
  <!-- 16x16 / 32x32 -->
  <link rel="shortcut icon" href="{{ '/assets/img/logo/grgrt.png' | prepend: site.baseurl }}">
  <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
  <link rel="apple-touch-icon-precomposed" href="{{ '/assets/img/logo/grgrt-57.png' | prepend: site.baseurl }}">
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ '/assets/img/logo/grgrt-72.png' | prepend: site.baseurl }}">
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ '/assets/img/logo/grgrt-114.png' | prepend: site.baseurl }}">
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/assets/img/logo/grgrt-144.png' | prepend: site.baseurl }}">
  <link rel="shortcut icon" href="{{ '/favicon.ico' | prepend: site.baseurl  }}">
  <!-- RSS -->
  <link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
  <script src="{{ '/assets/js/vendor/jquery.min.js' | prepend: site.baseurl }}"></script>
</head>
