<div class="media image {% if css_classes %} {{ cssClasses }} {% endif %}">
    {% assign resized = '/assets/img/resized/' %}
    {% assign resizable = '/assets/img/resizable/' %}
    {% assign src = {{ '' | append: '.' | append: include.extension | prepend: include.basename | prepend: resizable }} %}
    {% assign large = {{ '' | append: '-large.' | append: include.extension | prepend: include.basename | prepend: resized }} %}
    {% assign medium = {{ '' | append: '-medium.' | append: include.extension | prepend: include.basename | prepend: resized }} %}
    {% assign small = {{ '' | append: '-small.' | append: include.extension | prepend: include.basename | prepend: resized }} %}
    {% if include.linkToOriginal == true %}
    <a href="{{ src }}">
    {% endif %}
       <img src="{{ src }}"
        srcset="{{ large }} 648w, {{ medium }} 540w, {{ small }} 416w"
        sizes="(min-width: 56rem) 648w, (max-width: 48rem) 540w, (max-width: 38rem) 416w, 100vw"
        alt="{{ include.alt }}" title="{{ include.title }}">
    {% if include.linkToOriginal == true %}
    </a>
    {% endif %}
</div>
