<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
    The code below dynamically generates a sidebar nav of pages with
    `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
    {% if node.title != null %}
    {% if node.layout == "page" %}
    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
    {% endif %}
    {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="https://gitlab.com/graegerts/graegerts.gitlab.io/repository/archive.zip?ref=master">Download</a>
    <a class="sidebar-nav-item" href="{{ site.repourl }}">GitHub project</a>
    <span class="sidebar-nav-item">Currently v{% project_version %}</span>
  </nav>

  <div class="sidebar-item">
    <p>&copy; {{ site.time | date: '%Y' }}. Some rights reserved.</p>
    <p><small>Steve Graegert<br/>
      Marienburger Stra&szlig;e 1<br>
      10405 Berlin<br>
      steve@graegert.de<br>
      +49 176 72288891</small>
    </p>
  </div>
</div>
