---
layout: compress
---

<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body>
    {% include sidebar.html %}
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>
      <div class="container content">
        {{ content | toc_generate }}
      </div>
    </div>
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    <script src="{{ site.baseurl }}/assets/js/application.js"></script>
    <script id="dsq-count-scr" src="http://grgrtde.disqus.com/count.js" async></script>
  </body>
</html>
