/*
 *
 *
 *    ____    ____    ____    ____    ______
 *   /\  _`\ /\  _`\ /\  _`\ /\  _`\ /\__  _\
 *   \ \ \L\_\ \ \L\ \ \ \L\_\ \ \L\ \/_/\ \/
 *    \ \ \L_L\ \ ,  /\ \ \L_L\ \ ,  /  \ \ \
 *     \ \ \/, \ \ \\ \\ \ \/, \ \ \\ \  \ \ \
 *      \ \____/\ \_\ \_\ \____/\ \_\ \_\ \ \_\
 *       \/___/  \/_/\/ /\/___/  \/_/\/ /  \/_/
 *
 *
 * Based on @mdo's Lanyon theme (https://github.com/poole/lanyon)
 * Modified by @graegert (https://gitlab.com/graegerts/graegerts.gitlab.io).
 * Released under MIT license by @graegert.
 */
@import url('partials/poole.css');
@import url('partials/lanyon.css');
@import url('partials/syntax.css');

html {
  font-family: "Ashbury-Regular", Georgia, "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeueLTPro-Roman", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #313131;
  letter-spacing: -.025rem;
}

h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 2.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 2rem;
  font-size: 1rem;
}
.related-posts h4, .post-short h4 {
  margin-top: 1rem;
}
.post-short p { font-family: "HelveticaNeueLTPro-Roman", Helvetica, Arial, sans-serif; font-size: .8rem; }
.post-short h4 small { color: #c0c0c0; }

/* Quotes */
blockquote {
  font-family: "Ashbury-Italic", Georgia, "Times New Roman", serif;
}

.post-intro { font-family: "Ashbury-Italic", Georgia, "Times New Roman", serif; font-size: 20px;
  line-height: 1.2em; margin: 1.5rem 0 1.5rem 0; }

.message {
  font-family: "HelveticaNeueLTPro-Bd", Helvetica, Arial, sans-serif;
}


dt {
  font-family: "Ashbury-Bold", Georgia, "Times New Roman", serif;
}

table {
  font-family: "HelveticaNeueLTPro-Roman", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
}

thead,
tfoot {
  font-family: "HelveticaNeueLTPro-Bd", Helvetica, Arial, sans-serif;
}

thead {
  text-align: left;
  background-color: #f2f2f2;
}

tfoot {
  background-color: #efefef;
  border-top: 3px solid #e5e5e5;
}

td, th {
  padding: .5rem .5rem .25rem .5rem;
}

.highlight {
  margin-left: 0;
}

pre {
  font-size: .75rem;
}

code {
  font-size: .8rem;
}

figcaption {
  color: inherit;
  display: block;
  font-family: "HelveticaNeueLTPro-Roman", Helvetica, Arial, sans-serif;
  font-size: .75rem;
  font-style: italic;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 80%;
  padding: 0;
  text-align: center;
}


/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */
.masthead-title {
  font-family: "HelveticaNeueLTPro-Roman", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  color: #606060;
}
.masthead-title a {
  color: #606060;
}
.masthead-title small {
  font-family: "HelveticaNeueLTPro-UltLt", Helvetica, Arial, sans-serif;
  font-size: 66%;
  color: #c0c0c0;
}
